body {
    background-color: rgb(17, 16, 16);
    color: azure;
    font-family: Arial;
    font: bold;
    font-size: 20px;
}

.title {
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 30px;
}

.choice {
    cursor: pointer;
    padding: 0;
    height: 120px;
    width: 120px;
    border-radius: 50px;
    background-color: transparent;
    border: 3px solid white;
}

#resetButton {
    height: 8vh;
    width: 8vw;
    font-family: Arial;
    font-weight: bolder;
    cursor: pointer;
}

img {
    background-color:transparent;
    height: 50px;
    border-radius: 30px;
}

.choice:hover {
transform: translateY(-5px);
}